<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">

	
	
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://120.79.208.121:3306/">
		</property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root"></property>
		<property name="password" value="tanyun123"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- show_sql目的是打印sql语句 -->  
                <prop key="hibernate.show_sql">true</prop>  
                <!-- 美化SQL的打印格式 -->  
                <prop key="hibernate.format_sql">true</prop> 
			</props>
		</property>
		<property name="mappingResources">
			<list>
			<value>
				com/ultimate/ekbms/dto/MessageRewardInfo.hbm.xml
			</value>
			<value>
				com/ultimate/ekbms/dto/FilePowerControl.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/FileBrowse.hbm.xml</value>
			<value>com/ultimate/ekbms/dto/FileDetailInfo.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/UserFileDirectoryFile.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/FileCollection.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/LearningPathInfo.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/FileExamine.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/StructureDetailInfo.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/Classification.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/LearningPathFileStudyRecored.hbm.xml
			</value>
			<value>
				com/ultimate/ekbms/dto/LearningPathChoose.hbm.xml
			</value>
			<value>
				com/ultimate/ekbms/dto/MessageRewardReply.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/Department.hbm.xml</value>
			<value>com/ultimate/ekbms/dto/UserBasicInfo.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/LearningPathPraise.hbm.xml
			</value>
			<value>
				com/ultimate/ekbms/dto/LearningPathRemark.hbm.xml
			</value>
			<value>
				com/ultimate/ekbms/dto/StructurePraise.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/FileRemark.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/StructureRemark.hbm.xml
			</value>
			<value>
				com/ultimate/ekbms/dto/StructureDelete.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/FilePraise.hbm.xml</value>
			<value>com/ultimate/ekbms/dto/FileDownload.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/StructureConcern.hbm.xml
			</value>
			<value>com/ultimate/ekbms/dto/UserDetailInfo.hbm.xml</value>
			<value>com/ultimate/ekbms/dto/FileDelete.hbm.xml</value>
			<value>
				com/ultimate/ekbms/dto/LearningPathDelete.hbm.xml
			</value>
			<value>
				com/ultimate/ekbms/dto/UserStorageDirectory.hbm.xml
			</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="baseDAO" class="com.ultimate.ekbms.dao.BaseDAO">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean> 
	<bean id="userBasicInfoDAO" class="com.ultimate.ekbms.dao.UserBasicInfoDAOImpl" parent="baseDAO"/>
	<bean id="loginAction" class="com.ultimate.ekbms.action.LoginAction">
		<property name="dao" ref="userBasicInfoDAO"></property>
	</bean>
	
</beans>